<main>

   <h1>Detalle</h1>

   <div id="cart_id" style="display: none;">{{user.cart}}</div>

   <div class="cards-products">

      <picture><img src="{{response.thumbnail}}" /></picture>
      <h2>{{response.title}}</h2>
      <p>{{response.description}}</p>
      <p>${{response.price}}</p>


      <!-- NO ANDAN LOS BOTONES -->

      <button class="product__detail__button" id="addProduct__btn" value={{response._id}}>Agregar al carrito</button>

   </div>

</main>

<script src="/js/product.js"></script>