<h1>Detalle</h1>



<div class="cards-products">

   <picture><img src="{{products.thumbnail}}" /></picture>
   <h2>{{products.title}}</h2>
   <p>{{products.description}}</p>
   <p>{{products.price}}</p>



   <button value={{products._id}}>Agregar al carrito</button>

</div>