<h1>Detalle</h1>



<div class="cards-products">

   <picture><img src="{{product.thumbnail}}" /></picture>
   <h2>{{product.title}}</h2>
   <p>{{product.description}}</p>
   <p>{{product.price}}</p>



   <button value={{product._id}}>Agregar al carrito</button>

</div>