<div>
    <h1 class="title"> PRODUCTOS </h1>

    {{#each payload}}

    <section class="section-budines">
        <div class="cards-products">


            <picture><img src="{{this.thumbnail}}" /></picture>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>${{this.price}}</p>

            <a href="/products/{{this._id}}"><button>Ver descripción</button></a>

            {{/each}}


        </div>