<h1>Mis productos</h1>

  <div class="cards-products">

     <picture><img src="{{product.thumbnail}}"/></picture>
     <h2>{{product.title}}</h2>
     <p>{{product.description}}</p>
     <p>{{product.price}}</p>
 <!--<a href="/product/delete/{{product._id}}">Delete</a>-->
   

    </div>